﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create product</h2>

<form id="createProduct">
    <label>Name</label>
    <input name="Name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price" />
    <br />
    <button id="saveBtn" type="button">Save</button>
</form>
<script>
    $("#saveBtn").click(function () {
        var formData = $('#createProduct').serialize()
      

        $.ajax({

            type:"POST",

            url: "/Product/Create",

           
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 

            data: formData

            

        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");


          })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>