﻿@model Product 
@{
    ViewBag.Title = "Edit";
}

<h2>Edit product</h2>

<form id="editProduct">
    <input name="ID" value="@Model.ID" type="hidden" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button id="updateBtn" type="button">Update</button>
</form>
<script>
    $("#updateBtn").click(function () {
        var formData = $('#editProduct').serialize()
        $.ajax({
            type:"POST",
            url: "/Product/Edit",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: formData
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");


          })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
</script>