﻿@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

    <div>
        <form method="post">
            <input id="searchTxt" name="search" />
            <button type="button" id="searchBtn">Search</button>
        </form>
        <button type="button" id="newBtn">New</button>
    </div>
    <div >
        <table>
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>-</td>
                        <td>@product.Price</td>
                        <td>
                            <button class="editBtn" data-id="@product.ID">Edit</button>
                            <button class="deleteBtn" data-id="@product.ID">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        
        $.ajax({

            type: "GET",

            url: "/Product/ProductTable",

            contentType: "application/json; charset=utf-8",

            data: ({ search: searchValue  }),
           

            success: OnSuccessCall,

            error: OnErrorCall

        });
        function OnSuccessCall(response) {

            $("#tableContainer").html(response);

        }

        function OnErrorCall(response) {

            alert("fail");

        }
    });


    $("#newBtn").click(function () {
        $.ajax({
            type: "GET",
            url: "/Product/Create",
            contentType: "application/json; charset=utf-8",
            success: OnSuccessCall,
            error: OnErrorCall
        });
        function OnSuccessCall(response) {
            $("#actionContainer").html(response);
        }
        function OnErrorCall(response) {
            alert("fail");
        }
    });

    $(".editBtn").click(function () {
        var pid = $(this).attr('data-id');
        $.ajax({
            type: "GET",
            url: "/Product/Edit",
            contentType: "application/json; charset=utf-8",
            data: ({ ID: pid }),
            success: OnSuccessCall,
            error: OnErrorCall
        });
        function OnSuccessCall(response) {
            $("#actionContainer").html(response);
        }
        function OnErrorCall(response) {
            alert("fail");
        }
    });

    $(".deleteBtn").click(function () {
        
        var confirmDelete = confirm("Are you sure want to delete the product?");
        var pid = $(this).attr('data-id');
        if (confirmDelete)
        {
            $.ajax({
                type: "GET",
                url: "/Product/Delete",
                contentType: "application/json; charset=utf-8",
                data: ({ ID: pid }),
                success: OnSuccessCall,
                error: OnErrorCall
            });
            function OnSuccessCall(response) {
                $("#tableContainer").html(response);
            }
            function OnErrorCall(response) {
                alert("fail");
            }
        }
        
    });
</script>

