﻿@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete category</h2>
<h1>Are you sure want to delete this category</h1>
<form method="post">
    <input name="ID" value="@Model.ID" type="hidden" />
    <br/>
    <button type="submit">Yes Delete It</button>
</form>
<a href="/Index">Cancel</a>